@if (Request.IsAuthenticated)
{
    <li>
        <a href="#"><i class="fa fa-user fa-fw"></i> Cài đặt tài khoản<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="#">@User.Identity.Name</a></li>
            <li>
                @if (User.IsInRole("hethong"))
                {
                @Html.RouteLink("Thông tin tài khoản", "ManagerUserHethong", routeValues: null, htmlAttributes: new { title = "Thông tin tài khoản" })
                }
                else if (User.IsInRole("sieuthi"))
                {
                @Html.RouteLink("Thông tin tài khoản", "ManagerUserSieuthi", routeValues: null, htmlAttributes: new { title = "Thông tin tài khoản" })
                }
            </li>
            <li><a href="#" id="logout">Đăng xuất</a></li>
        </ul>
    </li>
}

<script>
    $(document).ready(function () {
        $('#logout').on('click', function (e) {
            e.preventDefault();
            if (confirm('Bạn chắc chắn muốn thoát?'))
            {
                location.href = "/admin/logout";
            }
        })
    })
</script>

